# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

.DS_Store

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

# NYC coverage files
coverage

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt