/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}

/* Add your styles here */
.multiple-select-dropdown li span{
	pointer-events: none;
}

body {
	overflow: hidden;
}

.adapter-body {
	overflow: hidden;
}

/* Style for small Screens */
@media screen and (max-width: 768px) {
	.responsive {
		font-size: 1.5rem;
		line-height: 110%;
		margin: 1em 0 0 0.6em;
	}
  }